.sub_cat_style:hover {
  background-color: #616162;
  padding: 8px 10px 8px 10px;
  width: 250px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #283b5b;
  border-radius: 8px;
}
.sub_cat_style {
  padding: 8px 10px 8px 10px;
  width: 250px;
  text-align: center;
  font-size: 20px;
}
